<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<div class="error" th:text="${interest.getMessage()}"></div>

<form th:method="POST" th:action="@{/interests/{id}(id=${interest.getId()})}" th:object="${interest}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <input type="submit" value="update"/>
</form>

</body>
</html>